<%= render_title "Sources" , "Aqui puedes ver las fuentes que has subido" %>

<div class="container">
  <% @sources.each do |s|  %>
      <%=  render_source s %>
  <% end %>

  <%= link_to "add source", new_source_path, :class=>"btn btn-primary" %>

</div>

