<%= render_title "Meeting" , "Here you can see the meetings you have done" %>

<div class="container">
  <% @meetings.each do |s|  %>
      <%=  render_meeting s %>
  <% end %>

  <%= link_to "add meeting", new_meeting_path, :class=>"btn btn-primary" %>

</div>

