<%= render_title "Meeting" , "Aqui puedes ver las citas que has subido" %>

<div class="container">
  <% @meetings.each do |s|  %>
      <%=  render_meeting s %>
  <% end %>

  <%= link_to "add meeting", new_meeting_path, :class=>"btn btn-primary" %>

</div>

