
<%= render_title "Student" , "Aqui puedes ver el estudiante registrado" %>

<div class="row">

  <div class="span9">
    <p><b>Name</b>: <%= @student.name%></p>
    <p><b>Username</b>: <%= @student.username%></p>
    <p><b>Password</b>: <%= @student.password%></p>
  </div>
</div>



</div>



