
<div class="hero-unit" style="text-align: center;">
  <h1 style="font-size: 100px;text-shadow: 2px 1px #FEFEFE;">Welcome to T-Sys</h1>
  <h2 style="text-shadow: 1px 1px #FEFEFE;">T-Sys helps students and professors manage and improve all their thesis related work</h2>
  <a class="btn btn-primary btn-large">sign up now</a>
</div>
<hr>
<div class="row" style="text-align: center;">
  <div class="span6">
    <img src="http://www.utexas.edu/law/news/img/08_mersky.jpg" class="img-circle" style="max-height:200px"/>
    <h3>For Professors</h3>
    <p>T-sys is built with professor's needs in mind. You can track your student's progress, add multi-media notes to your reunions so you never forget anything, the possibilities are endless</p>
  </div>
  <div class="span6">
    <img style="max-height:200px" src="http://www.acfe.com/uploadedImages/ACFE_Website/Content/images/membership-certification/graduate-member.jpg" class="img-circle" />
    <h3>For Students</h3>
    <p>T-sys is built by students for students. Never again will you spend countless hours looking for all your messy thesis work: T-sys does it all for you</p>
  </div>
<hr>
<div class="row">
  <a class="btn btn-large btn-success">Join now!</a>
</div>


</div>