<h1>Listing theses</h1>

<table>
  <tr>
    <th>These are the following Theses you are managing:</th>
  </tr>
</table>
<br>

<% if @theses.count<1   %>
      <p>Wow. Scratch that. You are not managing any thesis at the moment professor.</p>
   <% else
      @theses.each do |thesis| %>
        <table>
          <tr>Name
            <td><h4><%= thesis.name %></td></h4>
            <td><%= link_to 'Show', thesis %></td>
            <td><%= link_to 'Destroy', thesis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </table>
        <% end %>
<% end %>


<br />

<%= link_to 'Create a new Thesis Process', new_thesis_path, :class=>"btn btn-primary" %>
