<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @thesis.name %></h2>
</p>

<ul class="activities">
  <% @activities.each do |activity| %>
      <li>
       <h4> <%= activity.name %></h4>
             <%  prdt =  activity.product
                l = prdt.send("file_url")
                if l.blank? %>
                <p>     It seems the student hasn't upload any file in this activity!</p> </li>
           <% end %>
  <% end %>
</ul>

<%= link_to 'Back', theses_path,:class=>"btn btn-secondary" %>
